@model ForeScore.Models.CommentModels.CommentDetail

@{
    ViewBag.Title = "CommentDelete";
}

<h2>CommentDelete</h2>

<div>
    <h4>CommentDetail</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            @Html.DisplayFor(model => model.PostDetail.Title)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.PostDetail.Content)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.PostDetail.Name)
        </dd>

        @Html.HiddenFor(model => model.CommentId)


    </dl>

    @if (Model.PostDetail.RoundId != null)
    {
        <dl>
            <dd>
                @Html.DisplayFor(model => model.PostDetail.RoundDetail.CourseName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PostDetail.RoundDetail.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostDetail.RoundDetail.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PostDetail.RoundDetail.Score)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostDetail.RoundDetail.Score)
            </dd>
        </dl>


        <div>
            <table class="table table-bordered">
                <tr>
                    <td>
                        Hole
                    </td>
                    @for (int i = 0; i < Model.PostDetail.RoundDetail.CourseDetail.FrontNine.Count; i++)
                    {
                        <td>
                            @Html.DisplayFor(model => Model.PostDetail.RoundDetail.CourseDetail.FrontNine[i].HoleNumber, new { htmlAttributes = new { @class = "form-control", } })
                        </td>
                    }
                </tr>
                <tr>
                    <td>
                        Par
                    </td>
                    @for (int i = 0; i < Model.PostDetail.RoundDetail.CourseDetail.FrontNine.Count; i++)
                    {
                        <td>
                            @Html.DisplayFor(model => Model.PostDetail.RoundDetail.CourseDetail.FrontNine[i].Par, new { htmlAttributes = new { @class = "form-control", } })
                        </td>
                    }
                </tr>
                <tr>
                    <td>
                        Distance (Yards)
                    </td>
                    @for (int i = 0; i < Model.PostDetail.RoundDetail.CourseDetail.FrontNine.Count; i++)
                    {
                        <td>
                            @Html.DisplayFor(model => Model.PostDetail.RoundDetail.CourseDetail.FrontNine[i].Distance, new { htmlAttributes = new { @class = "form-control", } })
                        </td>
                    }
                </tr>
                <tr>
                    <td>
                        Score
                    </td>
                    @for (int i = 0; i < Model.PostDetail.RoundDetail.FrontNine.Count; i++)
                    {

                        <td>
                            @Html.DisplayFor(model => Model.PostDetail.RoundDetail.FrontNine[i].Score, new { htmlAttributes = new { @class = "form-control", } })
                            @Html.HiddenFor(model => Model.PostDetail.RoundDetail.FrontNine[i].HoleNumber, new { htmlAttributes = new { @class = "form-control", } })
                        </td>

                    }
                </tr>
                <tr>
                    <td>
                        Driving Distance (Yards)
                    </td>
                    @for (int i = 0; i < Model.PostDetail.RoundDetail.FrontNine.Count; i++)
                    {

                        <td>
                            @Html.DisplayFor(model => Model.PostDetail.RoundDetail.FrontNine[i].DrivingDistance, new { htmlAttributes = new { @class = "form-control", } })
                        </td>

                    }
                </tr>
                <tr>
                    <td>
                        Putts
                    </td>
                    @for (int i = 0; i < Model.PostDetail.RoundDetail.FrontNine.Count; i++)
                    {

                        <td>
                            @Html.DisplayFor(model => Model.PostDetail.RoundDetail.FrontNine[i].Putts, new { htmlAttributes = new { @class = "form-control", } })
                        </td>

                    }
                </tr>
                <tr>
                    <td>
                        Fairway Hit
                    </td>
                    @for (int i = 0; i < Model.PostDetail.RoundDetail.FrontNine.Count; i++)
                    {

                        <td>
                            @Html.DisplayFor(model => Model.PostDetail.RoundDetail.FrontNine[i].FairwayHit, new { htmlAttributes = new { @class = "form-control", } })
                            @Html.DisplayFor(model => Model.PostDetail.RoundDetail.FrontNine[i].FairwayHit, new { htmlAttributes = new { @class = "form-control", } })
                        </td>

                    }
                </tr>
                <tr>
                    <td>
                        Penalty(s)
                    </td>
                    @for (int i = 0; i < Model.PostDetail.RoundDetail.FrontNine.Count; i++)
                    {

                        <td>
                            @Html.DisplayFor(model => Model.PostDetail.RoundDetail.FrontNine[i].Penalty, new { htmlAttributes = new { @class = "form-control", } })
                            @Html.DisplayFor(model => Model.PostDetail.RoundDetail.FrontNine[i].Penalty, new { htmlAttributes = new { @class = "form-control", } })
                        </td>

                    }
                </tr>
            </table>
            <br />
            <table class="table table-bordered">
                <tr>
                    <td>
                        Hole
                    </td>
                    @for (int i = 0; i < Model.PostDetail.RoundDetail.CourseDetail.BackNine.Count; i++)
                    {
                        <td>
                            @Html.DisplayFor(model => Model.PostDetail.RoundDetail.CourseDetail.BackNine[i].HoleNumber, new { htmlAttributes = new { @class = "form-control", } })
                        </td>
                    }
                </tr>
                <tr>
                    <td>
                        Par
                    </td>
                    @for (int i = 0; i < Model.PostDetail.RoundDetail.CourseDetail.BackNine.Count; i++)
                    {
                        <td>
                            @Html.DisplayFor(model => Model.PostDetail.RoundDetail.CourseDetail.BackNine[i].Par, new { htmlAttributes = new { @class = "form-control", } })
                        </td>
                    }
                </tr>
                <tr>
                    <td>
                        Distance (Yards)
                    </td>
                    @for (int i = 0; i < Model.PostDetail.RoundDetail.CourseDetail.BackNine.Count; i++)
                    {
                        <td>
                            @Html.DisplayFor(model => Model.PostDetail.RoundDetail.CourseDetail.BackNine[i].Distance, new { htmlAttributes = new { @class = "form-control", } })
                        </td>
                    }
                </tr>
                <tr>
                    <td>
                        Score
                    </td>
                    @for (int i = 0; i < Model.PostDetail.RoundDetail.BackNine.Count; i++)
                    {

                        <td>
                            @Html.DisplayFor(model => Model.PostDetail.RoundDetail.BackNine[i].Score, new { htmlAttributes = new { @class = "form-control", } })
                            @Html.HiddenFor(model => Model.PostDetail.RoundDetail.BackNine[i].HoleNumber, new { htmlAttributes = new { @class = "form-control", } })
                        </td>

                    }
                </tr>
                <tr>
                    <td>
                        Driving Distance (Yards)
                    </td>
                    @for (int i = 0; i < Model.PostDetail.RoundDetail.BackNine.Count; i++)
                    {

                        <td>
                            @Html.DisplayFor(model => Model.PostDetail.RoundDetail.BackNine[i].DrivingDistance, new { htmlAttributes = new { @class = "form-control", } })
                        </td>

                    }
                </tr>
                <tr>
                    <td>
                        Putts
                    </td>
                    @for (int i = 0; i < Model.PostDetail.RoundDetail.BackNine.Count; i++)
                    {

                        <td>
                            @Html.DisplayFor(model => Model.PostDetail.RoundDetail.BackNine[i].Putts, new { htmlAttributes = new { @class = "form-control", } })
                        </td>

                    }
                </tr>
                <tr>
                    <td>
                        Fairway Hit
                    </td>
                    @for (int i = 0; i < Model.PostDetail.RoundDetail.BackNine.Count; i++)
                    {

                        <td>
                            @Html.DisplayFor(model => Model.PostDetail.RoundDetail.BackNine[i].FairwayHit, new { htmlAttributes = new { @class = "form-control", } })
                            @Html.DisplayFor(model => Model.PostDetail.RoundDetail.BackNine[i].FairwayHit, new { htmlAttributes = new { @class = "form-control", } })
                        </td>

                    }
                </tr>
                <tr>
                    <td>
                        Penalty(s)
                    </td>
                    @for (int i = 0; i < Model.PostDetail.RoundDetail.BackNine.Count; i++)
                    {

                        <td>
                            @Html.DisplayFor(model => Model.PostDetail.RoundDetail.BackNine[i].Penalty, new { htmlAttributes = new { @class = "form-control", } })
                            @Html.DisplayFor(model => Model.PostDetail.RoundDetail.BackNine[i].Penalty, new { htmlAttributes = new { @class = "form-control", } })
                        </td>

                    }
                </tr>
            </table>
        </div>
    }
</div>

<dl class="dl-horizontal">

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dd>
        @Html.DisplayFor(model => model.Content)
    </dd>

    @Html.HiddenFor(model => model.CommentId)


</dl>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
