@model ForeScore.Models.ViewModels.PostsViewModel

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Post Index</h2>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <a href="/Post/SelectRound" class="btn btn-success btn-block">
                Create New Post
            </a>
        </div>
    </div>
    <br />
    <div class="row">

        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Your Followings Posts</div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="indexhead">Title</th>
                                <th class="indexhead">Name</th>
                                <th class="indexhead">Content</th>
                                <th class="indexhead"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.UsersFollowingPosts.Count; i++)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => model.UsersFollowingPosts[i].Title)</td>
                                    <td>@Html.DisplayFor(model => model.UsersFollowingPosts[i].Name)</td>
                                    <td>@Html.DisplayFor(model => model.UsersFollowingPosts[i].Content)</td>
                                    <td>
                                        <a href="@Url.Action("Comment", "Post", new { id = Model.UsersFollowingPosts[i].PostId})"
                                           class="btn btn-block btn-warning">
                                            View Post
                                        </a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Your Posts</div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="indexhead">Title</th>
                                <th class="indexhead">Content</th>
                                <th class="indexhead"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.MyPosts.Count; i++)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => model.MyPosts[i].Title)</td>
                                    <td>@Html.DisplayFor(model => model.MyPosts[i].Content)</td>
                                    <td>
                                        <a href="@Url.Action("Details", "Post", new { id = Model.MyPosts[i].PostId})"
                                           class="btn btn-block btn-warning">
                                            Details
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

