@model IEnumerable<ForeScore.Models.RoundModels.RoundListItem>

@{
    ViewBag.Title = "Index";
}

<div class="container">

    <h2>Your Rounds</h2>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <a href="/Round/Create" class="btn btn-success btn-block">
                Add A New Round
            </a>
        </div>
    </div>
    <br />


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Courses</div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="indexhead">
                                    @Html.DisplayNameFor(model => model.CourseName)
                                </th>
                                <th class="indexhead">
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th class="indexhead">
                                    @Html.DisplayNameFor(model => model.Score)
                                </th>
                                <th class="indexhead">
                                    @Html.DisplayNameFor(model => model.IsPublic)
                                </th>
                                <th class="indexhead">
                                    @Html.DisplayNameFor(model => model.IsFeatured)
                                </th>
                                <th class="indexhead">
                                    @Html.DisplayNameFor(model => model.DateOfRound)
                                </th>
                                <th class="indexhead"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="index">
                                        @Html.DisplayFor(modelItem => item.CourseName)
                                    </td>
                                    <td class="index">
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td class="index">
                                        @Html.DisplayFor(modelItem => item.Score)
                                    </td>
                                    <td class="index">
                                        @if (item.IsPublic == true)
                                        {
                                            <span class="green glyphicon glyphicon-ok"></span>
                                        }
                                        @if (item.IsPublic == false)
                                        {
                                            <span class="red glyphicon glyphicon-remove"></span>
                                        }
                                    </td>
                                    <td class="index">
                                        @if (item.IsFeatured == true)
                                        {
                                            <span class="green glyphicon glyphicon-ok"></span>
                                        }
                                        @if (item.IsFeatured == false)
                                        {
                                            <span class="red glyphicon glyphicon-remove"></span>
                                        }
                                    </td>
                                    <td class="index">
                                        @Html.DisplayFor(modelItem => item.DateOfRound)
                                    </td>

                                    <td>
                                        <a href="@Url.Action("Details", "Round", new { id = item.RoundId})"
                                           class="btn btn-block btn-warning">
                                            Details
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

