@model ForeScore.Models.UserCareerModels.UserCareerViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <h4>UserCareerViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Handicap)
        </dt>

        @if (Model.Handicap == 0)
        {
            <dd>
                Not enough rounds logged to calculate an accurate handicap.
            </dd>
        }
        else
        {
            <dd>
                @Html.DisplayFor(model => model.Handicap)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Aces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aces)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eagles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eagles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birdies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birdies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageDrivingDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageDrivingDistance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AveragePutts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AveragePutts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FairwaysHit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FairwaysHit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Penalties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Penalties)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoundsPlayed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoundsPlayed)
        </dd>

    </dl>
</div>

