@model ForeScore.Models.FollowingModels.FollowingListItem

@{
    ViewBag.Title = "Delete";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">

        <h2>Remove a Follow</h2>

        <div class="row">

            <div class="panel panel-primary col-lg-12">
                <div class="panel panel-heading">Follow Information</div>
                <div class="panel-body form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-5">
                <a href="@Url.Action("Index", "Follow")"
                   class="btn btn-block btn-info col-lg-2">
                    Discard Follow Delete
                </a>
            </div>
            <div class=" col-lg-2"></div>
            <div class="col-lg-5">

                <button type="submit" value="Delete" class="btn btn-block btn-success col-lg-2">Delete Follow</button>

            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}