@model ForeScore.Models.ViewModels.FollowViewModel

@{
    ViewBag.Title = "Index";
}


<div class="container">
    <h2>Social Index</h2>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <a href="/Follow/Create" class="btn btn-success btn-block">
                Create New Follow
            </a>
        </div>
    </div>
    <br />

    <div class="row">

        <div class="col-lg-6">

            <div class="panel panel-primary">
                <div class="panel-heading">Users You Are Following</div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="indexhead">Name</th>
                                <th class="indexhead">Email</th>
                                <th class="indexhead"></th>
                                <th class="indexhead"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Following.Count; i++)
                            {
                                <tr>
                                    <td class="index">@Html.DisplayFor(model => model.Following[i].FullName)</td>
                                    <td class="index">@Html.DisplayFor(model => model.Following[i].Email)</td>
                                    <td class="index">@Html.HiddenFor(model => model.Following[i].UserId)</td>
                                    <td class="index">
                                        <a href="@Url.Action("Delete", "Follow", new { id = Model.Following[i].FollowingId})"
                                            class="btn btn-block btn-warning">
                                            View Profile/Remove Follow
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Your Followers</div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="indexhead">Name</th>
                                <th class="indexhead">Email</th>
                                <th class="indexhead"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Followers.Count; i++)
                            {
                                <tr>
                                    <td class="index">@Html.DisplayFor(model => model.Followers[i].FullName)</td>
                                    <td class="index">@Html.DisplayFor(model => model.Followers[i].Email)</td>
                                    <td class="index">@Html.HiddenFor(model => model.Followers[i].UserId)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

