@model ForeScore.Models.ViewModels.TeeTimeViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">

    <div class="panel-heading">
        <a href="/TeeTime/SelectCourse" class="btn btn-primary btn-block">
            Create New Tee Time
        </a>
    </div>

    <div class="row">

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Upcoming Tee Times</div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Course Name</th>
                                <th>Date of Tee Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.UpcomingTeeTimes.Count; i++)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => model.UpcomingTeeTimes[i].CourseName)</td>
                                    <td>@Html.DisplayFor(model => model.UpcomingTeeTimes[i].DateOfTeeTime)</td>
                                    <td>@Html.HiddenFor(model => model.UpcomingTeeTimes[i].CourseId)</td>
                                    <td>@Html.ActionLink("View TeeTime", "Details", new { id = Model.UpcomingTeeTimes[i].TeeTimeId })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">Past Tee Times</div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Course Name</th>
                                <th>Date of Tee Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.RecentTeeTimes.Count; i++)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => model.RecentTeeTimes[i].CourseName)</td>
                                    <td>@Html.DisplayFor(model => model.RecentTeeTimes[i].DateOfTeeTime)</td>
                                    <td>@Html.HiddenFor(model => model.RecentTeeTimes[i].CourseId)</td>
                                    <td>
                                        @Html.ActionLink("View TeeTime", "Details", new { id = Model.RecentTeeTimes[i].TeeTimeId }) |
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
